/* ------------------------------------
            Universal Styles
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* -----------------------------------
            Container Styles
------------------------------------ */
.container {
  width: 100%;
  padding: 5em 0 2em;
  background-color: #ff900e1a;
}

.common {
  margin: 0px 10%;
}

/* -------------------------------------
         Header and Nav Bar Styles
-------------------------------------- */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title > h2 {
  font-size: 30px;
}

.navs ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
  list-style: none;
}

.navs li a {
  text-decoration: none;
  color: #424242;
}

.header-content {
  padding-top: 3em;
  width: 60%;
  margin: auto;
  text-align: center;
}

.segment-title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0.5em 0;
}

.caption {
  color: #727272;
  margin-bottom: 1.5em;
}
/* -------------BTN Styles-------------- */
.submit {
  font-size: 20px;
  color: white;
  padding: 0.8em 1em;
  border: 0;
  border-radius: 10px;
  background-color: #ff900e;
  cursor: pointer;
}

.banner-image {
  width: 100%;
  margin-top: 2em;
}

.gallery-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 50px 5%;
  gap: 2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.gallery img {
  width: 250px;
}

#gray {
  color: #727272;
}

#black {
  color: black;
}

#color {
  color: #ff900e;
}

/* ----------------------------------------
                Main Styles
------------------------------------------*/

.gallery-features-container {
  position: relative;
}

.btn-experience {
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 25px 50px;
  background-color: #ff900e;
  position: absolute;
  bottom: 10px;
  right: 38%;
  cursor: pointer;
}

/* ----------------------------------------
       Works and Portfolio Styles
------------------------------------------*/
.works-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.works {
  width: 100%;
}

.works .segment-title {
  border-left: 3px solid #ff900e;
  padding-left: 5px;
}

.portfolio-image img {
  width: 80%;
}

.work {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 1.5em;
  box-shadow: 0px 0px 10px 3px rgba(188, 209, 236, 0.2);
}

/* -------------------------------------
            Facts Styles
---------------------------------------*/
.facts .caption {
  width: 40%;
}

.fact-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 5em;
}

.fact {
  width: 10em;
  height: 10em;
  border: 1px solid white;
  cursor: pointer;
}

.fact:hover {
  border-radius: 10px;
  border: 1px solid #ff900e;
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}

.fact > img,
h1,
p {
  margin-top: 0.8em;
}

/* ---------------------------------
          Sponsors Styles
-----------------------------------*/

.our-sponsors {
  text-align: center;
  margin: 5em 0 2em;
}

.our-sponsors .caption {
  max-width: 40%;
  margin: auto;
}

.sponsors {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsors img {
  filter: grayscale(100%);
}

/* ------------------------------------
   Connect and Communication Styles
--------------------------------------*/
.connect-communication {
  padding: 0 3em;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5em;
}

.connect p {
  margin: 1em 0;
}

.social-links {
  display: flex;
  gap: 1em;
}

.social-links > a > #facebook,
#linkedin {
  text-decoration: none;
  color: #0a66c2;
}

#youtube {
  color: red;
}

.input-submit {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-submit input[type="text"] {
  height: 3em;
  width: 20em;
  border: 0;
  border-radius: 5px;
  padding-left: 1em;
}

.input-submit textarea {
  border: 0;
  border-radius: 5px;
  padding: 1em;
}

.input-submit button {
  width: 150px;
  border-radius: 5px;
}

/* ------------------------------------
            Footer Styles
--------------------------------------*/

.footer {
  background-color: #646461;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 3em;
}

@media only screen and (max-width: 768px) {
  .nav-bar,
  .navs ul,
  .works-portfolio,
  .fact-container,
  .sponsors,
  .connect-communication {
    flex-direction: column;
    row-gap: 1.5em;
  }

  .works-portfolio {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .gallery-features,
  .gallery,
  .gallery img,
  .portfolio-image img {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .gallery-features {
    margin: 0;
  }

  .btn-experience {
    display: none;
  }

  .facts .caption,
  .header-content {
    width: 100%;
  }
  .fact-container {
    margin: auto;
    align-items: center;
  }
  .our-sponsors .caption {
    max-width: 100%;
  }
}
